
@font-face {
  font-family: 'Open Sans';
  src: url(/font/OpenSans_Condensed-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/font/OpenSans_Condensed-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/font/OpenSans_Condensed-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/font/OpenSans_Condensed-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url(/font/Roboto-Regular.ttf);
  font-weight: 400;
}


@font-face {
  font-family: 'Roboto';
  src: url(/font/Roboto-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url(/font/Roboto-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url(/font/Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Yellowtail';
  src: url(/font/Yellowtail-Regular.ttf);
  font-weight: 400;
}