

nav {
  .navbar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    .navbar__logo {
      img {
        width: 198.791px;
        height: 53.716px;
      }
    }

    .navbar__logo--sm {
      display: none;
    }

    input[type="checkbox"] {
      display: none;
    }

    .burger, .close {
      display: none;
    } 

    input[type="checkbox"]:checked ~ .navbar__sidebar {
      right: 0;
    }

    .navbar__search {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      width: 270px;
      height: 51px;
      border-radius: 36px;
      background: #FAFAFA;

      input[type="search"] {
        width: 100%;
        height: 100%;
        border: none;
        background: #FAFAFA;
        border-radius: 36px;
        padding: 5px;
        outline: none;
      }

      img {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        margin-top: 5px;
      }
    }

    .navbar__card {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 120px;
      height: 51px;
      border-radius: 33px;
      border: 1px solid #E0E0E0;
      color: #274C5B;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-left: 70px;

    li  {
      list-style-type: none;
        a {
          color: var(--currentPrimary);
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
    }
    
  }
}

.banner {
  background: url(/img/Image.png) center center / cover no-repeat;
  height: 717px;

  .banner__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    
  }

  .banner__text {
    display: flex;
    flex-direction: column;
    margin-left: 63px;
    
    p {
      color: #68A47F;
      font-family: Yellowtail;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h1 {
      color: var(--currentPrimary);
      font-family: Roboto;
      font-size: 70px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      width: 530px;
    }

    button {
      border-radius: 16px;
      background: #EFD372;
      border: none;
      display: flex;
      padding: 28px 39px;
      align-items: center;
      gap: 10px;
      width: 220px;
      color: #274C5B;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 23px;
    }
  }
}

// info 

.info {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 145px 0;
  gap: 30px;

  .info__items {
    height: 376px;
    background: url(/img/Photo.jpg) center center / cover no-repeat;
    border-radius: 30px;
    padding: 109px 0 0 55px;

    p {
      color: #FFF;
      font-family: Yellowtail;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h2 {
      color: #FFF;
      font-family: Roboto;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      width: 277.633px;
    }
  }

  .info__items1 {
    height: 376px;
    background: url(/img/Photo1.jpg) center center / cover no-repeat;
    border-radius: 30px;
    padding: 109px 0 0 55px;

    p {
      color: #7EB693;
      font-family: Yellowtail;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h2 {
      color: #274C5B;
      font-family: Roboto;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      width: 260px;
    }
  }
}


// about 


.about {
  padding: 113px 0;
  background:#F9F8F8;

  .about__wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .about__box {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      h3 {
        color: #274C5B;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }

      .about__box--svg {
        border-radius: 20px;
        background: #FFF;
        padding: 23px 27px 32px 28px;
        margin-right: 19px;
      }
    }

  }

  .about__text {
    margin-top: 14px;
    margin-bottom: 46px;
  }

  .about__card {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about__card1 {
    
    h2 {
      color: #7EB693;
      font-family: Yellowtail;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h1 {
      color: #274C5B;
      font-family: Roboto;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    p {
      color: #525C60;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }

    button {
      display: flex;
      padding: 28px 39px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 16px;
      background: #274C5B;
      color: #FFF;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: none;
    }
  }
}



// product 

.products {
  padding: 176px 0;
  h2 {
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  h1 {
    color: #274C5B;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
  }

  .products__items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    align-items: center;

    .products__box {
      border-radius: 30px;
      background: #f9f8f84f;
      height: 483px;
      padding: 29px 29px 17px 30px;
      border: 1px solid #F9F8F8;
      box-shadow: 2px 2px #F9F8F8;

      img {
        width: 100%;
        height: 328px;
        object-fit: cover;
      }


      .products__box--title {
        color: #FFF;
        text-align: center;
        font-family: Open Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 8px;
        background: #274C5B;
        padding: 5px 12px 6px 12px;
        display: inline-block;
      }
      .product__text {
        color: #274C5B;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: start;
        margin-bottom: 13px;
      }

      .product__sell {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6px;
      }
      .product__price {
        display: flex;
        align-items: center;
      }

      .product__price--sm {
        color: #B8B8B8;
        text-align: center;
        font-family: Open Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .product__price--bg {
        color: #274C5B;
        text-align: center;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 8px;
      }
      
    }

  }
}

// recommendation

.recommendation {
  background: url(/img/Image.jpg) center center / cover no-repeat;

.recommendation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 164px 0;

  h2 {
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  h1 {
    color: #274C5B;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 51px;
  }
  .recommendation__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;
    margin-bottom: 25px;

    i {
      font-size: 25px;

    }

    img {
      border-radius: 100%;
      
    }
  }
  .recommendation__text {
    color: #525C60;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; 
    width: 760px;
    margin-bottom: 25px;

  }
  h3 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;

  }

  .consume {
    color: #525C60;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
    text-align: center;
  }

  .recommend__svg {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 102px;
  }
  hr {
    margin-bottom: 102px;
  }
}

.recommendation__circle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  .recommendation__box {
    background:#F1F1F1;
    border: 4px solid #7EB693;
    border-radius: 100%;
    width: 211px;
    height: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      color: #274C5B;
      text-align: center;
      font-family: Roboto;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    p {
      color: #274C5B;
      text-align: center;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 165.4%; 
    }
  }
}

}






// media

@media only  screen and (max-width: 1536px){
  .container {
    max-width: 1280px;
  }

}

/* ==============1280=================== */

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  nav {
    .navbar__wrapper {

      .navbar__logo {
        img {
          width: 170px;
          height: 45px;
        }
      }

      .navbar__search {
        width: 160px;
      }

    }

    .navbar__menu {
      gap: 20px;
      margin-left: 30px;
  
      li  {
        list-style-type: none;
          a {
            color: #274C5B;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
      }
      
    }
  }

  // about 

  .about {
    padding: 100px 0;
  
    .about__wrapper {
  
      .about__box {
  
        h3 {
          font-size: 20px;
          margin-bottom: 9px;
        }
  
        .about__box--svg {
          padding: 11px 16px 20px 20px;
        }
      }
  
    }
  
    .about__text {
      margin-top: 14px;
      margin-bottom: 46px;
    }
  
    .about__card {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .about__card1 {
      
      h2 {
        font-size: 30px;
      }
  
      h1 {
        font-size: 40px;
      }
  
      p {
        font-size: 14px;
        line-height: 20px;
      }
  
      button {
        padding: 24px 34px;

      }
    }
  }

  // product 


  .products {
    .products__items {
      .products__box {
        padding: 29px 17px 17px 23px;
        height: 397px;
        
        .product__text {
          font-size: 18px;
        }
        img {
          height: 230px;
        }
      }
    }
  }

}
/* ==============1024=================== */

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  nav {

    .burger label {
      display: block;
    }

    .navbar__wrapper {
      .burger {
        display: block;
        margin-left: 22px;

        i {
          font-size: 30px;
        }
      }
      .close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 40px;
      }
      .navbar__menu {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 40px;
        margin-left: 0;
      }
      .navbar__sidebar {
        position: fixed;
        bottom: 0;
        right: -100%;
        background-color: #fff;
        width: 300px;
        height: 100vh;
        flex-direction: column;
        padding: 30px 40px;
        transition: all 0.5s ease;
        z-index: 1;
      }

      .navbar__search {
        width: 200px;
      }
    }
  }

  .banner {
    .banner__wrapper {
      .banner__text {
        p {
          font-size: 25px;
        }
    
        h1 {
          font-size: 60px;
          width: 500px;
        }
    
        button {
          padding: 20px 31px;
          align-items: center;
          width: 200px;
          font-size: 18px;
          margin-top: 20px;
        }
      }
    }
  }


  // info

  .info {
    
    grid-template-columns: repeat(1,1fr);
  }

  // about 

  .about {
  
    .about__wrapper {
      grid-template-columns: repeat(1,1fr);
  
      .about__box {
  
        h3 {
          font-size: 25px;
        }
  
        .about__box--svg {
          padding: 23px 27px 32px 28px;
          margin-right: 19px;
        }
      }
  
    }
  
  
    .about__card1 {
      
      h2 {
        font-size: 36px;
      }
  
      h1 {
        font-size: 50px;
      }
  
      p {
        font-size: 18px;
        line-height: 28px;
      }
  
      button {
        padding: 28px 39px;
      }
    }
  }


  // products

  .products {
    .products__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  

  
}

/* ==============768=================== */

@media only screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  nav {
    .navbar__wrapper {
      .navbar__logo {
        img {
          width: 140px;
          height: 40px;
        }
      }
    }
  }

  .banner {
    .banner__wrapper {
      .banner__text {
        p {
          font-size: 20px;
        }
    
        h1 {
          font-size: 50px;
          width: 400px;
        }
    
        button {
          padding: 15px 26px;
          align-items: center;
          width: 180px;
          font-size: 16px;
          margin-top: 20px;
        }
      }
    }
  }

  // products

  .products {
    .products__items {
      grid-template-columns: repeat(2, 1fr);

      .products__box {
        padding: 29px 17px 17px 23px;
        height: 432px;
  
        img {
          height: 280px;
        }
      }
    }
  }


}

/* ==============640=================== */

@media only screen and (max-width: 640px) {
  .container {
    max-width: 450px;
  }

  nav {
    .navbar__wrapper {
      gap: 8px;
      padding: 30px 0;
      .navbar__logo {
        img {
          width: 100px;
          height: 30px;
        }
      }
      .navbar__search {
        gap: 10px;
        width: 150px;
        height: 30px;
  
        img {
          width: 28px;
          height: 28px;
          margin-right: 5px;
          margin-top: 5px;
        }
      }
      .navbar__card {
        width: 80px;
        height: 30px;
        border-radius: 33px;
        border: 1px solid #E0E0E0;
        color: #274C5B;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
  
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  .banner {

    width: 100%;
    height: 600px;
    .banner__wrapper {
      .banner__text {
        margin-left: 0;
        p {
          font-size: 15px;
        }
    
        h1 {
          font-size: 40px;
          width: 300px;
        }
    
        button {
          padding: 13px 20px;
          align-items: center;
          width: 140px;
          gap: 5;
          font-size: 12px;
          margin-top: 20px;
        }
      }
    }
  }

  // info 

  .info {
    padding: 20px 0;
    .info__items {
      padding: 129px 0 0 55px;
      p {
        font-size: 30px;
      }
  
      h2 {
        font-size: 35px;
        width: 250px;
      }
    }

    .info__items1 {
      padding: 129px 0 0 55px;
      p {
        font-size: 30px;
      }
  
      h2 {
        font-size: 35px;
        width: 250px;
      }
    }
  }


   // about 

   .about {
    padding: 100px 0;
  
    .about__wrapper {
  
      .about__box {
  
        h3 {
          font-size: 20px;
          margin-bottom: 9px;
        }
  
        .about__box--svg {
          padding: 11px 16px 20px 20px;
        }
      }
  
    }
  
    .about__text {
      margin-top: 14px;
      margin-bottom: 46px;
    }
  
    .about__card {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .about__card1 {
      
      h2 {
        font-size: 30px;
      }
  
      h1 {
        font-size: 40px;
      }
  
      p {
        font-size: 14px;
        line-height: 20px;
      }
  
      button {
        padding: 22px 30px;
        font-size: 16px;

      }
    }
  }

  // product 


  .products {
    .products__items {
      .products__box {
        padding: 16px 17px 17px 17px;
        height: 355px;

        .product__text {
          font-size: 15px;
        }

        .products__box--title {
          font-size: 13px;
        }
  
        img {
          height: 220px;
        }
        .product__price--sm {
          font-size: 10px;
        }
        .product__price--bg {
          font-size: 12px;
        }
          
      }
    }
  }

}

/* ==============450=================== */

@media only screen and (max-width: 450px) {
  .container {
    padding: 0 10px;
  }

  nav {
    .navbar__wrapper {
      .navbar__logo {
        display: none;
      }
      .navbar__logo--sm {
        display: block;
        img {
          width: 22px;
          height: 30px;
        }
      }
    }
  }

  .banner {
    height: 400px;
    .banner__wrapper {
      justify-content: center;
      .banner__text {
        p {
          font-size: 10px;
        }
    
        h1 {
          font-size: 30px;
          width: 200px;
        }
    
        button {
          padding: 12px 19px;
          align-items: center;
          width: 135px;
          font-size: 12px;
          margin-top: 15px;
        }
      }
    }
  }

    // info 

    .info {
      padding: 20px 10px;
      .info__items {
        height: 295px;
        padding: 90px 0 0 55px;
        p {
          font-size: 25px;
        }
    
        h2 {
          font-size: 30px;
          width: 200px;
        }
      }
  
      .info__items1 {
        height: 295px;
        padding: 90px 0 0 55px;
        p {
          font-size: 25px;
        }
    
        h2 {
          font-size: 30px;
          width: 200px;
        }
      }
    }

    // about 

   .about {
    padding: 100px 0;
  
    .about__wrapper {
  
      .about__box {
  
        h3 {
          font-size: 20px;
          margin-bottom: 9px;
        }
  
        .about__box--svg {
          padding: 5px 9px 14px 15px;
          margin-right: 14px;
        }
      }
  
    }
  
  
    .about__card1 {
      
      h2 {
        font-size: 20px;
      }
  
      h1 {
        font-size: 30px;
      }
  
      p {
        font-size: 12px;
        line-height: 15px;
      }
  
      button {
        padding: 18px 25px;
        font-size: 12px;

      }
    }
  }

    // products

    .products {
      .products__items {
        grid-template-columns: repeat(1, 1fr);
  
        .products__box {
          padding: 29px 17px 17px 23px;
          height: 432px;
    
          img {
            height: 280px;
          }
        }
      }
    }

}
