nav {
    .navbar__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
  
      .navbar__logo {
        img {
          width: 198.791px;
          height: 53.716px;
        }
      }
  
      .navbar__logo--sm {
        display: none;
      }
  
      input[type="checkbox"] {
        display: none;
      }
  
      .burger, .close {
        display: none;
      } 
  
      input[type="checkbox"]:checked ~ .navbar__sidebar {
        right: 0;
      }
  
      .navbar__search {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        width: 270px;
        height: 51px;
        border-radius: 36px;
        background: #FAFAFA;
  
        input[type="search"] {
          width: 100%;
          height: 100%;
          border: none;
          background: #FAFAFA;
          border-radius: 36px;
          padding: 5px;
          outline: none;
        }
  
        img {
          width: 40px;
          height: 40px;
          margin-right: 5px;
          margin-top: 5px;
        }
      }
  
      .navbar__card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 120px;
        height: 51px;
        border-radius: 33px;
        border: 1px solid #E0E0E0;
        color: #274C5B;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        
  
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .navbar__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-left: 70px;
  
      li  {
        list-style-type: none;
          a {
            color: var(--currentPrimary);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
      }
      
    }
  }

  //banner
  .banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
      object-fit: contain;
      flex-shrink: 0;
    }
    h1{
      position: absolute;
      color: #274C5B;
      font-family: Roboto;
      font-size: 70px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }
  // about 


.about {
  width: 100%;
  margin-top: 113px;
  margin-bottom: 143px;
  .about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
  }

  .about__text {
    margin-top: 14px;
    margin-bottom: 46px;
  }

  .about__card {
    display: flex;
    img {
      width: 100%;
      height: 77%;
      flex-shrink: 0;
      object-fit: cover;
      justify-self: start;
    }
  }

  .about__card1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about__items{
      margin-top: 48px;
      display: flex;
      .about__box {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
  
        h3 {
          width: 226px;
          color: #274C5B;
          font-family: Roboto;
          font-size: 25px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
  
        .about__box--svg {
          border-radius: 20px;
          background: #FFF;
          padding: 23px 27px 32px 28px;
          margin-right: 19px;
        }
      }
    }
    
    h2 {
      color: #7EB693;
      font-family: Yellowtail;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h1 {
      color: #274C5B;
      font-family: Roboto;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    p {
      color: #525C60;
      font-family: 'Open Sans';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }

    button {
      display: flex;
      padding: 28px 39px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 16px;
      background: #274C5B;
      color: #FFF;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: none;
    }
  }
}
//about-product

.about-product{
  width: 100%;
  padding: 103px 0px 130px 0px;
  background-color: #F9F8F8;
  .about-product__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    .about-product__card-line{
      width: 100%;
      display: flex;
      gap: 30px;
      justify-content: center;
      overflow-x: auto;
      .about-product__card{
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        background-color: #FFF;
        border-radius: 15px;
        width: 200px;
        align-items: center;
        gap: 10px;
        padding: 20px;
        h2{
          color: #274C5B;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
        p{
          color: #525C60;
          text-align: center;
          font-family: 'Open Sans';
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 165.4%;
        }
        div{
          border-radius: 18px;
          background: #F9F8F8;
          padding: 20px;
        }
      }
    }
    .about-product__info-line{
      display: flex;
      gap: 25px;
      .about-product__text{
        display: flex;
        flex-direction: column;
        span{
          color: #525C60;
          font-family: 'Open Sans';
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 165.4%;
          margin-left: 60px;
        }
        div{
          width: 339px;
          padding: 29px 0;
          display: flex;
          align-items: center;
          gap: 7px;
          border-radius: 49px;
          background: #ECECEC;
          cursor: pointer;
          h5{
            color: #274C5B;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          i{
            margin-left: 27px ;
            color: #7EB693;
          }
        }
        h1{
          color: #274C5B;
          font-family: Roboto;
          font-size: 40px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          width: 424px;
        }
        h2{
          color: #7EB693;
          font-family: Yellowtail;
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        p{
          margin-top: 25px;
          color: #525C60;
          font-family: 'Open Sans';
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 165.4%;
        }
      }
      img{
        border-radius: 20px;
      }
    }
  }
}
//employee

.employee{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  h2{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h1{
    color: #274C5B;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  p{
    color: #525C60;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
    margin-top: 15px;
  }
  .employee__block{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .employee__card{
      width: 328px;
      border-radius: 15px;
      background-color: #F9F8F8;
      padding-bottom: 15px;
      & :hover{
        cursor: pointer;
        background: #FFF;
        filter: drop-shadow(0px 29px 44px rgba(150, 150, 150, 0.25));
      }
      h3{
        color: #274C5B;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-left: 10px;
        margin-top: 8px;
      }
      div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        p{
          color: #7EB693;
          font-family: Yellowtail;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
        }
        .icon{
          display: flex;
          gap: 10px;
          i{
            color:#274C5B;
            font-size: large;
            cursor: pointer;
          }
        }
      }
      img{
        width: 100%;
        border-radius: 15px 15px 0 0;
      }
    }
  }
}

//offer

.offer{
  background-color: #274C5B;
  display: flex;
  justify-content: center;
  padding: 120px 0;
  h2{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .offer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .offer__product{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;

      .offer__wrapper{
        width: 298px;
        p{
          color: #FFF;
          font-family: Roboto;
          margin-top: 8px;
          text-align: center;
          font-size: 25px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        img{
          border-radius: 15px;
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}
  //subscibe


  .subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;

    .subscribe__content{
      padding: 57px 51px;
      border-radius: 10px;
      background-image: url(/img/about_img/Photo\ \(15\).png);
      background-repeat: no-repeat;
      background-size: 100%;
      .subscribe__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
          color: #FFF;
          font-family: Roboto;
          font-size: 50px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
        div{
          display: flex;
          gap: 6px;

          input[type="email"]{
            height: 60px;
            padding:20px;
            border-radius: 10px;
            border: 0;
            outline: 0;
          }
          input[type="submit"]{
            color: #FFF;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            height: 60px;
            padding: 20px;
            background-color: #274C5B;
            border: 0;
            outline: 0;
            border-radius: 10px;
          }
        }
      }
    }
  }


  // media

@media only  screen and (max-width: 1536px){
    .container {
      max-width: 1280px;
    }
  
  }
  
  /* ==============1280=================== */
  
  @media only screen and (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    nav {
      .navbar__wrapper {
  
        .navbar__logo {
          img {
            width: 170px;
            height: 45px;
          }
        }
  
        .navbar__search {
          width: 160px;
        }
  
      }
  
      .navbar__menu {
        gap: 20px;
        margin-left: 30px;
    
        li  {
          list-style-type: none;
            a {
              color: #274C5B;
              font-family: Roboto;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
        }
        
      }
    }
  
    //about
    .about{
      .about__wrapper {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 0;
      }
      .about__card{
        display: none !important;
  
        img {
          display: none;
        }
      }
    }
    //about-product
    .about-product__info-line{
      flex-direction: column-reverse;
      align-items: center;
      .about-product__text{
        align-items: center;
        div{
          margin-top: 20px;
        }
        span{
          margin-top: 20px;
        }
      }      
    }
  }
  /* ==============1024=================== */
  
  @media only screen and (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  
    nav {
      .navbar__wrapper {
        .burger {
          display: block;
          margin-left: 22px;
  
          i {
            font-size: 30px;
          }
        }
        .close {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-bottom: 40px;
        }
        .navbar__menu {
          flex-direction: column;
          align-items: center;
          justify-content: start;
          gap: 40px;
          margin-left: 0;
        }
        .navbar__sidebar {
          position: fixed;
          bottom: 0;
          right: -100%;
          background-color: #fff;
          width: 300px;
          height: 100vh;
          flex-direction: column;
          padding: 30px 40px;
          transition: all 0.5s ease;
          z-index: 1;
        }
  
        .navbar__search {
          width: 200px;
        }
      }
    }
  .banner{
    h1{
      font-size: 50px;
    }
  }
    .about{
      .about__wrapper{
        justify-content: center;
      }
      h1{
        text-align: center;
      }
    }
    .about-product__text{
      p{
        text-align: center;
      }
    }
    //subscibe

    .subscribe__content{
      padding: 52px 51px !important;
      .subscribe__wrapper{
        width: 100%;
        h1{
          font-size: 30px !important;
        }
        div{
          display: flex;
          gap: 6px;

        }
      }
    }
  }
  
  /* ==============768=================== */
  
  @media only screen and (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  
    nav {
      .navbar__wrapper {
        .navbar__logo {
          img {
            width: 140px;
            height: 40px;
          }
        }
      }
    }
  //about
  
  .about{
    .about__wrapper{
      justify-content: center;
    }
    h1{
      text-align: center;
      font-size: 30px !important;
    }
    .about__items{
      flex-direction:column ;
    }
    p{
      text-align: center;
      font-size: 16px !important;
    }
  }
  //about-product
  .about-product__info-line{
    flex-direction: column-reverse;
    align-items: center;
    img{
      display: none;
    }
    .about-product__text{
      align-items: center;
      h1{
        font-size: 30px !important;
        text-align: center;
      }
      p{
        text-align: center;
      }
      span{
        margin: 20px 0 0 0 !important;
      }
    }
  }
  //offer

  .offer{
    padding: 80px 0;
  }
      //subscibe

      .subscribe__content{
        padding: 50px 51px !important;
        .subscribe__wrapper{
          width: 100%;
          h1{
            font-size: 20px !important;
          }
          div{
            display: flex;
            gap: 6px;
  
            input[type="email"]{
              height: 45px !important;
              padding: 10px !important;
            }
            input[type="submit"]{
              font-size: 18px !important;
              height: 45px !important;
              padding: 10px !important;
            }
          }
        }
      }
  }
  
  /* ==============640=================== */
  
  @media only screen and (max-width: 640px) {
    .container {
      max-width: 450px;
    }
  
    nav {
      .navbar__wrapper {
        gap: 8px;
        padding: 30px 0;
        .navbar__logo {
          img {
            width: 100px;
            height: 30px;
          }
        }
        .navbar__search {
          gap: 10px;
          width: 150px;
          height: 30px;
    
          img {
            width: 28px;
            height: 28px;
            margin-right: 5px;
            margin-top: 5px;
          }
        }
        .navbar__card {
          width: 80px;
          height: 30px;
          border-radius: 33px;
          border: 1px solid #E0E0E0;
          color: #274C5B;
          font-family: Roboto;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          
    
          img {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  
    .banner{
      h1{
        font-size: 40px;
      }
    }
  //about
  .about{
    margin-top: 50px;
    margin-bottom: 50px;

    .about__items{
      margin-top: 20px !important;
    }
    p{
      margin-bottom: 20px !important;
    }
  }
  .about-product{
    padding: 50px 0px 60px 0px;
    .about-product__text{
      span{
        text-align: center;
      }
    }
  }
  .employee{
    padding: 50px 0px;
    h1{
      font-size: 20px;
    }
  }
  //offer

  .offer{
    h1{
      font-size: 35px;
    }
  }
  .subscribe__content{
    padding: 50px 51px !important;
    background-size: 100% 100% !important;
    background-size: cover !important;
    background-position: center;
    .subscribe__wrapper{
      width: 100%;
      flex-direction: column;
      gap: 20px;
      h1{
        font-size: 20px !important;
      }
      div{
        display: flex;
        flex-direction: column;
        gap: 6px;

        input[type="email"]{
          height: 45px !important;
          padding: 10px !important;
        }
        input[type="submit"]{
          font-size: 18px !important;
          height: 45px !important;
          padding: 10px !important;
        }
      }
    }
  }
  }
  
  /* ==============450=================== */
  
  @media only screen and (max-width: 450px) {
    .container {
      padding: 0 10px;
    }
  
    nav {
      .navbar__wrapper {
        .navbar__logo {
          display: none;
        }
        .navbar__logo--sm {
          display: block;
          img {
            width: 22px;
            height: 30px;
          }
        }
      }
    }
    .banner{
      h1{
        font-size: 30px;
      }
    }
    .about-product{
      padding: 50px 0px 60px 0px;
      .about-product__text{
        h1{
          width: 350px !important;
        }
        p{
          font-size: 14px;width: 350px;
        }
        span{
          width: 350px;
          text-align: center;
          font-size: 14px;
        }
      }
    }
    //employee
    .employee{
      padding: 30px 0px;
      h2{
        font-size: 25px;
      }
    }
    //offer
    .offer{
      padding: 30px 0;
    }
    }