nav .navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
nav .navbar__wrapper .navbar__logo img {
  width: 198.791px;
  height: 53.716px;
}
nav .navbar__wrapper .navbar__logo--sm {
  display: none;
}
nav .navbar__wrapper input[type=checkbox] {
  display: none;
}
nav .navbar__wrapper .burger, nav .navbar__wrapper .close {
  display: none;
}
nav .navbar__wrapper input[type=checkbox]:checked ~ .navbar__sidebar {
  right: 0;
}
nav .navbar__wrapper .navbar__search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 270px;
  height: 51px;
  border-radius: 36px;
  background: #FAFAFA;
}
nav .navbar__wrapper .navbar__search input[type=search] {
  width: 100%;
  height: 100%;
  border: none;
  background: #FAFAFA;
  border-radius: 36px;
  padding: 5px;
  outline: none;
}
nav .navbar__wrapper .navbar__search img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-top: 5px;
}
nav .navbar__wrapper .navbar__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  height: 51px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
nav .navbar__wrapper .navbar__card img {
  width: 40px;
  height: 40px;
}
nav .navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-left: 70px;
}
nav .navbar__menu li {
  list-style-type: none;
}
nav .navbar__menu li a {
  color: var(--currentPrimary);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner {
  background: url(/img/blog_img/bannerr.png) center center/cover no-repeat;
  height: 350px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  padding: 150px 0;
}

.news__itms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 46px;
  margin-bottom: 100px;
}
.news__itms .news__box {
  position: relative;
  height: 500px;
}
.news__itms .news__box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.news__itms .news__box .nov {
  position: absolute;
  top: 40px;
  left: 30px;
  color: #274C5B;
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: #fff;
  aspect-ratio: 1/1;
  border-radius: 100%;
  padding: 15px 23px;
}
.news__itms .news__box .news__card {
  border-radius: 31px 34px 30px 30px;
  background: #FFF;
  box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
  padding: 46px 57px 60px 57px;
  width: 94%;
  position: absolute;
  bottom: -66px;
  left: 20px;
}
.news__itms .news__box .news__card h6 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.news__itms .news__box .news__card h6 svg {
  margin-right: 8px;
}
.news__itms .news__box .news__card h3 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.news__itms .news__box .news__card p {
  color: #525C60;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  margin-bottom: 15px;
}
.news__itms .news__box .news__card button {
  border-radius: 16px;
  background: #EFD372;
  display: flex;
  padding: 11px 10px 11px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

.subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.subscribe .subscribe__content {
  width: 100%;
  height: 100%;
  padding: 109px 51px;
  border-radius: 10px;
  background-image: url(/img/blue.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.subscribe .subscribe__content .subscribe__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe .subscribe__content .subscribe__wrapper h1 {
  text-align: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.subscribe .subscribe__content .subscribe__wrapper div {
  display: flex;
  gap: 6px;
}
.subscribe .subscribe__content .subscribe__wrapper div input[type=email] {
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  border: 0;
  outline: 0;
}
.subscribe .subscribe__content .subscribe__wrapper div input[type=submit] {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 60px;
  padding: 20px;
  background-color: #274C5B;
  border: 0;
  outline: 0;
  border-radius: 10px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 51px;
  padding: 50px 0;
}
footer span {
  width: 1px;
  height: 336px;
  background: #D4D4D4;
}
footer .footer__items h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: end;
  margin-bottom: 32px;
}
footer .footer__items h3 {
  color: #525C60;
  text-align: end;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%;
}
footer .footer__items p {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  text-align: end;
  margin-bottom: 30px;
}
footer .footer__items a {
  color: #525C60;
}
footer .footer__items1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__items1 img {
  width: 170px;
  height: 45px;
  margin-bottom: 23px;
}
footer .footer__items1 p {
  color: #525C60;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  margin-bottom: 50px;
}
footer .footer__items1 .footer__servis {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .footer__items1 .footer__servis i {
  font-size: 30px;
  background: #EFF6F1;
  padding: 15px;
  border-radius: 100%;
}
footer .footer__items2 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}
footer .footer__items2 p {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 272.9%;
}

@media only screen and (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/* ==============1280=================== */
@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  nav .navbar__wrapper .navbar__logo img {
    width: 170px;
    height: 45px;
  }
  nav .navbar__wrapper .navbar__search {
    width: 160px;
  }
  nav .navbar__menu {
    gap: 20px;
    margin-left: 30px;
  }
  nav .navbar__menu li {
    list-style-type: none;
  }
  nav .navbar__menu li a {
    color: #274C5B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .subscribe .subscribe__content {
    padding: 88px 51px;
  }
  .subscribe .subscribe__content .subscribe__wrapper {
    width: 100%;
  }
  .subscribe .subscribe__content .subscribe__wrapper h1 {
    font-size: 30px !important;
  }
  .subscribe .subscribe__content .subscribe__wrapper div {
    display: flex;
    gap: 6px;
  }
}
/* ==============1024=================== */
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  nav .burger label {
    display: block;
  }
  nav .navbar__wrapper .burger {
    display: block;
    margin-left: 22px;
  }
  nav .navbar__wrapper .burger i {
    font-size: 30px;
  }
  nav .navbar__wrapper .close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 40px;
  }
  nav .navbar__wrapper .navbar__menu {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    margin-left: 0;
  }
  nav .navbar__wrapper .navbar__sidebar {
    position: fixed;
    bottom: 0;
    right: -100%;
    background-color: #fff;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    padding: 30px 40px;
    transition: all 0.5s ease;
    z-index: 1;
  }
  nav .navbar__wrapper .navbar__search {
    width: 200px;
  }
  .banner {
    font-size: 30px;
  }
  .news .news__itms {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
  .news .news__itms .news__card {
    padding: 16px 15px 28px 34px;
    width: 91%;
  }
  .news .news__itms .news__card button {
    padding: 11px 14px 15px 20px;
  }
  .subscribe .subscribe__content {
    padding: 51px 51px;
  }
  .subscribe .subscribe__content .subscribe__wrapper {
    width: 100%;
  }
  .subscribe .subscribe__content .subscribe__wrapper h1 {
    font-size: 30px !important;
  }
  .subscribe .subscribe__content .subscribe__wrapper div {
    display: flex;
    gap: 6px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
    padding: 50px 0;
  }
  footer .footer__items h2 {
    font-size: 25px;
    text-align: end;
    margin-bottom: 32px;
  }
  footer .footer__items h3 {
    text-align: end;
    font-size: 16px;
    line-height: 165%;
  }
  footer .footer__items p {
    font-size: 15px;
    line-height: 165%;
    text-align: end;
    margin-bottom: 30px;
  }
  footer .footer__items1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer__items1 img {
    width: 165px;
    height: 40px;
    margin-bottom: 23px;
  }
  footer .footer__items1 p {
    text-align: center;
    font-size: 15px;
    line-height: 165.4%;
    margin-bottom: 50px;
  }
  footer .footer__items1 .footer__servis {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  footer .footer__items1 .footer__servis i {
    font-size: 30px;
    padding: 15px;
  }
  footer .footer__items2 h2 {
    font-size: 30px;
    margin-bottom: 32px;
  }
  footer .footer__items2 p {
    font-size: 15px;
  }
}
/* ==============768=================== */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  nav .navbar__wrapper .navbar__logo img {
    width: 140px;
    height: 40px;
  }
  .banner {
    background-size: cover;
    background-position: left;
  }
  .subscribe .subscribe__content {
    padding: 40px 29px;
  }
  .subscribe .subscribe__content .subscribe__wrapper {
    width: 100%;
  }
  .subscribe .subscribe__content .subscribe__wrapper h1 {
    font-size: 18px !important;
  }
  .subscribe .subscribe__content .subscribe__wrapper div {
    display: flex;
    gap: 6px;
  }
  .subscribe .subscribe__content .subscribe__wrapper div input[type=email] {
    height: 50px !important;
    padding: 10px !important;
  }
  .subscribe .subscribe__content .subscribe__wrapper div input[type=submit] {
    font-size: 15px !important;
    height: 50px !important;
    padding: 10px !important;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 51px;
    padding: 50px 0;
  }
  footer .footer__items h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 32px;
  }
  footer .footer__items h3 {
    text-align: center;
    font-size: 16px;
    line-height: 165%;
  }
  footer .footer__items p {
    font-size: 15px;
    line-height: 165%;
    text-align: center;
    margin-bottom: 30px;
  }
  footer .footer__items1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer__items1 img {
    width: 165px;
    height: 40px;
    margin-bottom: 23px;
  }
  footer .footer__items1 p {
    text-align: center;
    font-size: 15px;
    line-height: 165.4%;
    margin-bottom: 50px;
  }
  footer .footer__items1 .footer__servis {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  footer .footer__items1 .footer__servis i {
    font-size: 30px;
    padding: 15px;
  }
  footer .footer__items2 h2 {
    font-size: 30px;
    margin-bottom: 32px;
    text-align: center;
  }
  footer .footer__items2 p {
    font-size: 15px;
    text-align: center;
  }
}
/* ==============640=================== */
@media only screen and (max-width: 640px) {
  .container {
    max-width: 450px;
  }
  nav .navbar__wrapper {
    gap: 8px;
    padding: 30px 0;
  }
  nav .navbar__wrapper .navbar__logo img {
    width: 100px;
    height: 30px;
  }
  nav .navbar__wrapper .navbar__search {
    gap: 10px;
    width: 150px;
    height: 30px;
  }
  nav .navbar__wrapper .navbar__search img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    margin-top: 5px;
  }
  nav .navbar__wrapper .navbar__card {
    width: 80px;
    height: 30px;
    border-radius: 33px;
    border: 1px solid #E0E0E0;
    color: #274C5B;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  nav .navbar__wrapper .navbar__card img {
    width: 28px;
    height: 28px;
  }
  .banner {
    font-size: 25px;
  }
  .subscribe {
    padding: 30px 0;
  }
  .subscribe .subscribe__content {
    padding: 29px 0px;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
  }
  .subscribe .subscribe__content .subscribe__wrapper {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .subscribe .subscribe__content .subscribe__wrapper h1 {
    font-size: 25px !important;
  }
  .subscribe .subscribe__content .subscribe__wrapper div {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .subscribe .subscribe__content .subscribe__wrapper div input[type=email] {
    height: 50px !important;
    padding: 10px !important;
  }
  .subscribe .subscribe__content .subscribe__wrapper div input[type=submit] {
    font-size: 15px !important;
    height: 50px !important;
    padding: 10px !important;
  }
  footer {
    gap: 20px;
  }
  footer .footer__items h2 {
    font-size: 20px;
    margin-bottom: 26px;
  }
  footer .footer__items h3 {
    font-size: 14px;
    line-height: 165%;
  }
  footer .footer__items p {
    font-size: 13px;
    line-height: 107%;
    margin-bottom: 25px;
  }
  footer .footer__items1 img {
    width: 137px;
    height: 37px;
    margin-bottom: 19px;
  }
  footer .footer__items1 p {
    text-align: center;
    font-size: 13px;
    line-height: 165.4%;
    margin-bottom: 25px;
  }
  footer .footer__items1 .footer__servis {
    gap: 13px;
  }
  footer .footer__items1 .footer__servis i {
    font-size: 20px;
    padding: 8px;
  }
  footer .footer__items2 h2 {
    font-size: 26px;
    margin-bottom: 24px;
    text-align: center;
  }
  footer .footer__items2 p {
    font-size: 13px;
    text-align: center;
  }
}
/* ==============450=================== */
@media only screen and (max-width: 450px) {
  .container {
    padding: 0 10px;
  }
  nav .navbar__wrapper .navbar__logo {
    display: none;
  }
  nav .navbar__wrapper .navbar__logo--sm {
    display: block;
  }
  nav .navbar__wrapper .navbar__logo--sm img {
    width: 22px;
    height: 30px;
  }
  .news {
    padding: 50px 10px 0 10px;
  }
  .news .news__itms {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .news .news__itms .news__box img {
    height: 82%;
  }
  .news .news__itms .news__box .nov {
    padding: 15px 19px;
    font-size: 15px;
    top: 25px;
    left: 21px;
  }
  .news .news__itms .news__card {
    padding: 16px 15px 19px 20px;
    width: 91%;
    bottom: 27px;
    left: 14px;
  }
  .news .news__itms .news__card button {
    padding: 11px 14px 15px 20px;
  }
  .news .news__itms .news__card p {
    font-size: 14px;
  }
  .news .news__itms .news__card h3 {
    font-size: 18px;
  }
  .news .news__itms .news__card h6 {
    font-size: 15px;
  }
}/*# sourceMappingURL=blog.css.map */