nav {
    .navbar__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
  
      .navbar__logo {
        img {
          width: 198.791px;
          height: 53.716px;
        }
      }
  
      .navbar__logo--sm {
        display: none;
      }
  
      input[type="checkbox"] {
        display: none;
      }
  
      .burger, .close {
        display: none;
      } 
  
      input[type="checkbox"]:checked ~ .navbar__sidebar {
        right: 0;
      }
  
      .navbar__search {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        width: 270px;
        height: 51px;
        border-radius: 36px;
        background: #FAFAFA;
  
        input[type="search"] {
          width: 100%;
          height: 100%;
          border: none;
          background: #FAFAFA;
          border-radius: 36px;
          padding: 5px;
          outline: none;
        }
  
        img {
          width: 40px;
          height: 40px;
          margin-right: 5px;
          margin-top: 5px;
        }
      }
  
      .navbar__card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 120px;
        height: 51px;
        border-radius: 33px;
        border: 1px solid #E0E0E0;
        color: #274C5B;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        
  
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .navbar__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-left: 70px;
  
      li  {
        list-style-type: none;
          a {
            color: var(--currentPrimary);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
      }
      
    }
  }

  //banner
  .banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
      object-fit: contain;
      flex-shrink: 0;
    }
    h1{
      position: absolute;
      color: #274C5B;
      font-family: Roboto;
      font-size: 70px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }
  //pista
  .pista{
    margin-top: 50px;
  }
  .pista__content{
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .pista__img{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 20px;
    div{
      background: #FFF;
    }
    p{
      color: #FFF;
      text-align: center;
      font-family: 'Open Sans';
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 5px 10px;
      background-color: #274C5B;
      width: 55px;
      border-radius: 10px;
    }
  }
  .pista__info{
    display: flex;
    flex-direction: column;
    p{
      margin-top: 30px;
      color: #525C60;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 165.4%;
    }
    h1{
      color: #274C5B;
      font-family: Roboto;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .pista__star{
      display: flex;
      i{
        color: gold;
      }
    }
    .pista__price{
      display: flex;
      align-items: center;
      gap: 10px;
      .pista__price--sm{
        color: #B8B8B8;
        text-align: center;
        text-decoration: line-through;
        font-family: Open Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .pista__price--bg{
        color: #274C5B;
      text-align: center;
      font-family: Open Sans;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      }
    }
    .pista__btn{
      display: flex;
      gap: 20px;
      align-items: center;
      margin-top: 30px;
      p{
        color: #274C5B;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
      }
      .pista__btn1{
        background-color: #fff;
        outline: none;
        border: 2px solid #274C5B;
        border-radius: 16px;
      }
      .pista__btn2{
        background: #274C5B;
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        outline: none;
        border: none;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        i{
          font-size: 20px;
          color: #335B6B;
        }
      }
      button{
        padding: 20px 50px;
      }
    }
  }
    //text

  .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 70px;
    .text__btn{
        display: flex;
        gap: 15px;
    }
    .text__btn1{
        padding: 17px 50px;
        color: #FFF;
        text-align: center;
        font-family: 'Open Sans';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none;
        outline: none;
        border-radius: 16px;
        background: #274C5B;
    }
    .text__btn2{
        padding: 17px 50px;
        color: #274C5B;
        text-align: center;
        font-family: 'Open Sans';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 16px;
        background: #EFF6F1;
        border: none;
        outline: none;

    }
    p{
        color: #525C60;
        text-align: center;
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 165.4%;
    }
  }
  // product 

.products {
    padding: 110px 0;
    .products__items {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 20px;
      align-items: center;
  
      .products__box {
        border-radius: 30px;
        background: #f9f8f84f;
        height: 483px;
        padding: 29px 29px 17px 30px;
        border: 1px solid #F9F8F8;
        box-shadow: 2px 2px #F9F8F8;
  
        img {
          width: 100%;
          height: 328px;
          object-fit: cover;
        }
  
  
        .products__box--title {
          color: #FFF;
          text-align: center;
          font-family: Open Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          border-radius: 8px;
          background: #274C5B;
          padding: 5px 12px 6px 12px;
          display: inline-block;
        }
        .product__text {
          color: #274C5B;
          text-align: center;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-align: start;
          margin-bottom: 13px;
        }
  
        .product__sell {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 6px;
        }
        .product__price {
          display: flex;
          align-items: center;
        }
  
        .product__price--sm {
          color: #B8B8B8;
          text-align: center;
          font-family: Open Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .product__price--bg {
          color: #274C5B;
          text-align: center;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-left: 8px;
        }
        
      }
  
    }
  }
    //subscibe


    .subscribe{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 100px 0;
    
        .subscribe__content{
          padding: 57px 51px;
          border-radius: 10px;
          background-image: url(/img/shop_img/Photo\ \(15\).png);
          background-repeat: no-repeat;
          background-size: 100%;
          .subscribe__wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
              color: #FFF;
              font-family: Roboto;
              font-size: 50px;
              font-style: normal;
              font-weight: 800;
              line-height: normal;
            }
            div{
              display: flex;
              gap: 6px;
    
              input[type="email"]{
                height: 60px;
                padding:20px;
                border-radius: 10px;
                border: 0;
                outline: 0;
              }
              input[type="submit"]{
                color: #FFF;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                height: 60px;
                padding: 20px;
                background-color: #274C5B;
                border: 0;
                outline: 0;
                border-radius: 10px;
              }
            }
          }
        }
      }
    // footer 

footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 50px 0;
    span {
      width: 1px;
      height: 336px;
      background: #D4D4D4;
    }
    .footer__items {
      height: 335px !important;
      display: flex;
      flex-direction: column;
      align-items: end;
      h2 {
        color: #274C5B;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 32px;
      }
      h3 {
        color: #525C60;
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 165%; 
      }
      a {
        color: #525C60;
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 165%;
        margin-bottom: 30px;
      }
      a {
        color: #525C60;
      }
    }
    .footer__items1 {
      height: 335px !important;
      display: flex; 
      flex-direction: column;
      align-items: center;
      border-left: 1px solid #D4D4D4;
      border-right: 1px solid #D4D4D4;
      padding: 0 30px;
      img {
        width: 170px;
        height: 45px;
        margin-bottom: 23px;
      }
      p {
        color: #525C60;
        text-align: center;
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 165.4%; 
        margin-bottom: 50px;
      }
      .footer__servis {
        display: flex;
        align-items: center;
        gap: 15px;
        i {
          font-size: 30px;
          background: #EFF6F1;
          padding: 15px;
          border-radius: 100%;
        }
      }
    }
    .footer__items2 {
      height: 335px !important;
      h2 {
        color: #274C5B;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 32px;
      }
      p {
        color: #525C60;
        font-family: 'Open Sans';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 272.9%;
        
      }
    }
  }

    // media

@media only  screen and (max-width: 1536px){
    .container {
      max-width: 1280px;
    }
  }
/*=================== 1280 ====================*/
  @media only screen and (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    nav {
      .navbar__wrapper {
  
        .navbar__logo {
          img {
            width: 170px;
            height: 45px;
          }
        }
  
        .navbar__search {
          width: 160px;
        }
  
      }
  
      .navbar__menu {
        gap: 20px;
        margin-left: 30px;
    
        li  {
          list-style-type: none;
            a {
              color: #274C5B;
              font-family: Roboto;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
        }
        
      }
    }
      // product 


  .products {
    .products__items {
      .products__box {
        padding: 29px 17px 17px 23px;
        height: 397px;
        
        .product__text {
          font-size: 18px;
        }
        img {
          height: 230px;
        }
      }
    }
  }
}
  /* ==============1024=================== */
  
  @media only screen and (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  
    nav {
      .navbar__wrapper {
        .burger {
          display: block;
          margin-left: 22px;
  
          i {
            font-size: 30px;
          }
        }
        .close {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-bottom: 40px;
        }
        .navbar__menu {
          flex-direction: column;
          align-items: center;
          justify-content: start;
          gap: 40px;
          margin-left: 0;
        }
        .navbar__sidebar {
          position: fixed;
          bottom: 0;
          right: -100%;
          background-color: #fff;
          width: 300px;
          height: 100vh;
          flex-direction: column;
          padding: 30px 40px;
          transition: all 0.5s ease;
          z-index: 1;
        }
  
        .navbar__search {
          width: 200px;
        }
      }
    }
    //banner
  .banner{
    h1{
      font-size: 50px;
    }
  }
    // products

    .products {
        .products__items {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      //subscibe

      .subscribe__content{
        padding: 52px 51px !important;
        .subscribe__wrapper{
          width: 100%;
          h1{
            font-size: 30px !important;
          }
          div{
            display: flex;
            gap: 6px;
  
          }
        }
      }
}
  /* ==============768=================== */
  
  @media only screen and (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  
    nav {
      .navbar__wrapper {
        .navbar__logo {
          img {
            width: 140px;
            height: 40px;
          }
        }
      }
    }
      // products

  .products {
    .products__items {
      grid-template-columns: repeat(2, 1fr);

      .products__box {
        padding: 29px 17px 17px 23px;
        height: 432px;
  
        img {
          height: 280px;
        }
      }
    }
  }
          //subscibe

          .subscribe__content{
            padding: 50px 51px !important;
            .subscribe__wrapper{
              width: 100%;
              h1{
                font-size: 20px !important;
              }
              div{
                display: flex;
                gap: 6px;
      
                input[type="email"]{
                  height: 45px !important;
                  padding: 10px !important;
                }
                input[type="submit"]{
                  font-size: 18px !important;
                  height: 45px !important;
                  padding: 10px !important;
                }
              }
            }
          }
          //footer
          footer{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,1fr);
            .footer__items{
              grid-row: 2/3;
              justify-self: center;
              align-items: start;
            }
            .footer__items1{
              justify-self: center;
              grid-row: 1/2;
            }
            .footer__items2{
              grid-row: 3/4;
              justify-self: center;
            }
          }
}
  /* ==============640=================== */
  
  @media only screen and (max-width: 640px) {
    .container {
      max-width: 450px;
    }
  
    nav {
      .navbar__wrapper {
        gap: 8px;
        padding: 30px 0;
        .navbar__logo {
          img {
            width: 100px;
            height: 30px;
          }
        }
        .navbar__search {
          gap: 10px;
          width: 150px;
          height: 30px;
    
          img {
            width: 28px;
            height: 28px;
            margin-right: 5px;
            margin-top: 5px;
          }
        }
        .navbar__card {
          width: 80px;
          height: 30px;
          border-radius: 33px;
          border: 1px solid #E0E0E0;
          color: #274C5B;
          font-family: Roboto;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          
    
          img {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  
    .banner{
      h1{
        font-size: 40px;
      }
    }
      // product 


  .products {
    .products__items {
      .products__box {
        padding: 16px 17px 17px 17px;
        height: 355px;

        .product__text {
          font-size: 15px;
        }

        .products__box--title {
          font-size: 13px;
        }
  
        img {
          height: 220px;
        }
        .product__price--sm {
          font-size: 10px;
        }
        .product__price--bg {
          font-size: 12px;
        }
          
      }
    }
  }
      //subscribe
  .subscribe__content{
    padding: 50px 51px !important;
    background-size: 100% 100% !important;
    background-size: cover !important;
    background-position: center;
    .subscribe__wrapper{
      width: 100%;
      flex-direction: column;
      gap: 20px;
      h1{
        font-size: 20px !important;
      }
      div{
        display: flex;
        flex-direction: column;
        gap: 6px;

        input[type="email"]{
          height: 45px !important;
          padding: 10px !important;
        }
        input[type="submit"]{
          font-size: 18px !important;
          height: 45px !important;
          padding: 10px !important;
        }
      }
    }
  }
}
  /* ==============450=================== */
  
  @media only screen and (max-width: 450px) {
    .container {
      padding: 0 10px;
    }
  
    nav {
      .navbar__wrapper {
        .navbar__logo {
          display: none;
        }
        .navbar__logo--sm {
          display: block;
          img {
            width: 22px;
            height: 30px;
          }
        }
      }
    }
        // products

        .products {
            .products__items {
              grid-template-columns: repeat(1, 1fr);
        
              .products__box {
                padding: 29px 17px 17px 23px;
                height: 432px;
          
                img {
                  height: 280px;
                }
              }
            }
          }
    .banner{
      h1{
        font-size: 30px;
      }
    }
        //footer
        .footer__items1{
            max-width: 300px;
            padding: 0 10px;
          }
}